cSharp ai trainer/datasetGen/datasetGen/obj/Debug/net9.0/datasetGen.AssemblyInfo.cs
cSharp ai trainer/datasetGen/datasetGen/obj/Debug/net9.0/datasetGen.AssemblyInfoInputs.cache
cSharp ai trainer/datasetGen/datasetGen/obj/Debug/net9.0/datasetGen.assets.cache
cSharp ai trainer/datasetGen/datasetGen/obj/Debug/net9.0/datasetGen.GeneratedMSBuildEditorConfig.editorconfig
cSharp ai trainer/datasetGen/datasetGen/obj/Debug/net9.0/datasetGen.GlobalUsings.g.cs
